 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 .header {
     background: lightblue;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 span {
     color: yellow;
     font-size: 100px;
     text-shadow: 0 0 30px orange;
 }
 
 .main {
    background: green;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }